body {
  background-image: url(../images/pizza3.jpg);
  background-size: 100% 100% ;
  padding: 5%;
  background-repeat: no-repeat;
  
}

h1 {
  font-family: cursive;
  color: aliceblue;
  text-align: center;
  font-size: 500;
  font-weight: 900;
  background-color: black;
}

.content {
  display: none;
  overflow: hidden;
}

.collapsible {
  cursor: pointer;
}

.active, .collapsible: :hover {
  background-color: grey;
}

.backdrop {

}

.text {
  color: white;
  background: rgb(56, 2,6);
  mix-blend-mode: multiply;
  ...
}






.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute;
}

/* nothing to see here */

body {
  margin: 2em;
  border: 0;
}

h2 {
  text-align: left;
}

input[type="checkbox"] {
  margin: 0 0 1.5em 0;
}

select {
  margin: 0 0 0.5em 0.5em;
}

.textarea {
  margin: 0 0 1em 0;
}